* {box-sizing: border-box;}
body {
  font-family: $baseFontFamily;
  font-weight: 300;
  color: $baseFont-color;
  // background: $viewportBackground-color;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: $heading-font-family;
  font-weight: 400;
}
