* {box-sizing: border-box;}
body {
  font-family: $baseFontFamily;
  color: $baseFont-color;
  background: $viewportBackground-color;
}
.cms-page-view .column.main img {
  margin: 0 auto;
}
.columns .column.main {
  padding-bottom: 0;
}
.modal-popup .modal-footer {
  display: none;
}
.content-wrapper {
  // @include font-size(16);
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: $base-line-height;
  background: #fff;

  .row {
    margin: 0;
  }
  .column {
    flex-direction: column;
  }
  .block-title {
    text-align: center;
    margin: 0;
  }
  .widget .block-title>strong {
    font-size: 4rem;
    line-height: 1.5rem;
    font-weight: 300;
  }
  .block.widget .products-grid .product-item {
    margin: 0;
  }
  .widget.block-products-list .add-button {
    font-weight: 400;

    &:hover {
      background: #00388D;
      border: 1px solid #00388D;
      color: #fff;
    }
  }
  .product-item-link {
    text-transform: none;
  }
  .widget.block-products-list .product-item-name {
     height: 52px;
  }
  .price-wrapper {
    font-weight: 400;
  }
  h1 {
    font-size: 60px;
    line-height: 1.3;
  }
  h2 {
    font-size: 50px;
    line-height: 1.3;
  }
  h3 {
    font-size: 40px;
    line-height: 1.3;
  }
  h4 {
    font-size: 35px;
    line-height: 1.4;
    font-weight: 300;
  }
  h5 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 2.6rem;
    margin-bottom: .4rem;
  }
  h6 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
  }
  p {
    font-size: 18px;
    line-height: 1.4;
  }
  .font400 {
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: $gray700;
    cursor: pointer;
  }
  button {
    color: $gray700;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 1px solid $gray700;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }
  li {
    font-size: 16px;
  }
  .cta {
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
  .slick-list {
    margin-left: -18px;
  }
  .slick-prev, .slick-next {
    font-size: 0;
    border: none;

    &::before {
      font-family: 'icons-blank-theme';
      font-size: 60px;
      color: $gray700;
    }
  }
  .slick-prev::before {
    content: '\e617';
  }
  .slick-next::before {
    content: '\e608';
  }
  .slick-arrow {
    background: none;
  }
  .linkCTA {
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: $blue700;
      text-decoration: underline;
    }
  }
}
