// Custom styles for the Mascara page

// $mascaraplum: #86456f;
$mascaraplum: rgb(134, 69, 111);

$mascaratip: #ceb7be;

.content-wrapper {
  .sectionRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 4rem 0;
    padding: 0;
  }
  .sectionRow.-wrap {
    flex-wrap: wrap;
  }
  h1 {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  h2 {
    line-height: 1.2;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  h3 {
    font-weight: 400;
  }
  h4 {
    font-size: 2.9rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  h5 {
    margin: 1rem 0 2rem 0;
  }
  h6 {
    margin: 4rem 0;
  }
  .btn {
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 1px solid $gray700;
    font-size: 16px;
    font-weight: 400;
    background-color: $gray700;
    padding: .8rem 2.4rem;

    &:hover {
      background-color: $gray600;
    }
  } // btn
  .linkCTA {
    color: darken($mascaraplum, 4%);

    &:hover {
      color: lighten($mascaraplum, 2%);
    }
  } // linkCTA
  .width50 {
    width: 50%;
  }
  .clearfix {
    @include clearfix;
  }
} //content-wrapper

// intro section
#intro {
  position: relative;

  .introText {
    position: absolute;
    top: 14%;
    left: 50%;

    p {
      width: 92%;
    }
  }
}
// products section
.slm, .mpp {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 0 4rem 0;
  padding: 0;
}
.slmImg {
  width: 50%;
}
.mppImg {
  order: 1;
  width: 50%;
}
.slmText {
  width: 50%;
  text-align: right;
  padding-left: 4%;
  padding-right: 2%;
}
.mppText {
  order: 2;
  width: 50%;
  padding-right: 4%;
  padding-left: 2%;
}

// choose section
#choose {
  .chooseSlm {
    margin-bottom: 0;

    .chooseSlm-text {
      width: 44%;
      padding-top: 8%;
      padding-left: 14%;
    }
    .chooseSlm-img {
      width: 50%;
    }
  } // chooseSlm
  .chooseMpp-img {
    width: 40%;
  }
  .chooseMpp-text {
    width: 44%;
    text-align: right;
    padding-top: 10%;
    padding-right: 14%;

    h3 {
      padding-left: 80px;
    }
  }
}

// differences section
#differences {
  position: relative;

  .differences-img {
    margin-bottom: -10px;
    width: 50%;
    float: left;
  }
  .differencesText-l, .differencesText-r {
    position: absolute;
    top: 26%;
    width: 30%;

    ul>li {
      margin-bottom: 2rem;
    }
  }
  .differencesText-l {
    left: 3%;
  }
  .differencesText-r {
    right: 3%;
  }
  .proTip {
    clear: both;
    background-color: lighten($mascaratip, 10%);
    width: 100%;
    max-height: 100px;
    padding: 1%;
    margin: 0 auto 4rem auto;

    h4 {
      margin: 0 0 0.4% 3%;
    }
    p {
      margin: 0 0 0 3%;
    }
  }
} // differences

#beforeAfter {
  .beforeAfter-title {
    width: 100%;
    text-align: center;
  }
  .beforeAfter-wrapper {
    display: flex;

    .beforeAfter-l, .beforeAfter-r {
      width: 46%;
      padding: 0 2%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-between;

      h5 {
        text-align: left;
      }
      .beforeAfter-imgs {
        .beforePic, .afterPic {
          max-width: 250px;
          margin: 0;
          display: inline-block;
        }
        .afterPic {
          float: right;
        }
        h6 {
          text-align: left;
          margin: 0;
        }
      }
      .beforeAfter-text {
        margin: 0 auto;
        text-align: left;

        a {
          text-decoration: underline;

          &:hover {
            color: lighten($mascaraplum, 2%);
          }
        }
      }
    } // beforeAfter-l & -r
  } // beforeAfter-wrapper
} // before after
